.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}
.form > * {
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.progBar {
  height: 3px;
  background: #eee;
  margin: 0.8rem 0;
  flex: 1;
}

.progBar span {
  background: #282;
  display: block;
  height: 100%;
}
